---
layout: list
section: others
permalink: otras/
title: Otras comunidades generales
---

    <h1 class="main-header display-4"><strong>Otras comunidades generales</strong></h1>
  </div>
</div>
<hr class="my-4">

Aquí puedes encontrar listadas las páginas con información de las siguientes comunidades que, aunque
no se enfoquen en las tecnologías o el conocimiento libre, se dedican a la divulgación tecnológica/cultural
y no están asociada a tecnologías privativas o intereses comerciales:<br><br>

<ul id="list">
  {% for org in site.pages %}
  {% if org.path contains 'otras' and org.path contains '.md' and org.section == 'others' %}
  {% unless org.path contains 'otras.md' %}
  <li><a href="/{{ org.path | remove_first: ".md" }}">{{ org.title }}</a></li>
  {% endunless %}
  {% endif %}
  {% endfor %}
</ul><br>

Si conoces alguna que no aparece aquí puedes añadirla directamente
<a href="https://gitlab.com/eslibre/listados/-/blob/master/otras/README.md" target="_blank">aquí</a>,
pero si puedes, te agradeceríamos que añadieras su página de información en
<a href="https://gitlab.com/eslibre/listados/-/tree/master/otras" target="_blank">este repositorio</a>
usando <a href="https://gitlab.com/eslibre/listados/-/blob/master/plantillas/otras.md" target="_blank">
  esta plantilla</a>.<br><br>

También puedes escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a> si tienes cualquier duda.<br><br>
