<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body>
  {% include navbar.html %}

  <main role="main" class="container">
    <div style="margin-top: 1rem !important;">
      <h1 style="display: inline;" class="mt-3 mb-3">{{page.title}}</h1>
      <br><br>
    </div>

    {{ content }}

    <br>
    <hr />
    <p style="text-align:center">
      <a href="../">Volver al índice</a>
    </p>
  </main>

  {% include footer.html %}
  {% include js.html %}

</body>

</html>
